.wrapper {
  max-width: 32rem;
  width: 100%;
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: flex-end;
}

.start {
  justify-content: flex-start;
}

.link {
  padding: 0.5rem 1rem;
  border-radius: 2;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--gray6);
}

.link:hover {
  background-color: var(--gray4);
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
